{% extends 'main.html' %}
{% block content %}
  <a style='color:#fff;' class="btn btn-primary btn-lg btn-block" href='{% url "employeecreate" %}'>
      Create Employee
  </a>
  <table class="table">

    <thead class="thead-light">
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Email</th>
        <th scope="col">Employee Adress</th>
        <th scope="col">Employee Department</th>
        <th scope="col">Employee Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
        {% for employee in object_list %}

      <tr>
        <td><a href="{% url 'employeedetail' employee.id %}">{{ employee.name }}</a></td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.role }}</td>
        <td>
          <a style='color:#fff;' class="btn btn-primary" href="{% url 'employeeupdate' employee.id %}">
            Edit
          </a>
          <a style='color:#fff;' class="btn btn-primary" href="{% url 'employeedelete' employee.id %}">
            Delete
          </a>
        </td>
      </tr>

      {% endfor %}
    </tbody>

  </table>

  <a style='color:#fff;' class="btn btn-primary btn-lg btn-block" href='{% url "logout" %}'>
    logout
  </a>
  
{% endblock %}