{% extends 'main.html' %}
{% block content %}
<div class='container' style="margin-top: 5px; border: 2px solid; padding: 20px; width: 50%;">
  <a href="{% url 'employeelist' %}" class="btn btn-primary">
  Go Back
</a>
<hr>

<p class='text-warning'>{{ form.non_field_errors }}</p>
<form method='post' style='margin-top: 30px;'>
    {% csrf_token %}
    <div class="mb-3">
      <p class='text-warning'>{{ form.name.errors }}</p>
      <label for="exampleInputName" class="form-label">Name</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
      <p class='text-warning'>{{ form.email.errors }}</p>
      <label for="exampleInputEmail" class="form-label">Email</label>
        {{ form.email }}
    </div>
    <div class="mb-3">
      <p class='text-warning'>{{ form.salary.errors }}</p>
      <label for="exampleInputAddress" class="form-label">Salary</label>
        {{ form.salary }}
    </div>
    <div class="mb-3">
      <p class='text-warning'>{{ form.address.errors }}</p>
      <label for="exampleInputAddress" class="form-label">Address</label>
        {{ form.address }}
    </div>
    <div class="dropdown">   
      <p class='text-warning'>{{ form.department.errors }}</p>
        <label for="exampleInputDepartment" class="form-label">Select Department of Employee</label>
        {{ form.department }}
      </div><br>
      <div class="dropdown">
        <p class='text-warning'>{{ form.role.errors}}</p>
        <label for="exampleInputRole1" class="form-label">Select Role of Employee</label>
        {{ form.role }}
        </div>
        <hr>
    <center>
        <input type='submit' class='btn btn-primary' value="Update">
    </center>
  </form>
</div>

    </div>
{% endblock %}