{% extends 'main.html' %}
{% block content %}

<div class='container' style="margin-top: 5px; padding: 20px; width: 50%;">
  <div class="card">

    <h5 class="card-header">
      <a href="{% url 'employeelist' %}" class="btn btn-primary">
        Go Back
      </a>
    </h5>

    <div class="card-body">

      <h5 class="card-title">
        Are you sure you want to delete?
      </h5>

      <form method='post'>
        {% csrf_token %}
        <hr>
        <center>
        <input type='submit' class="btn btn-primary" value='Delete'>
        </center>
      </form>

    </div>
  </div>
</div>

{% endblock %}