{% extends 'main.html' %}
{% block content %}
<div class='container' style="margin-top: 5px; padding: 20px; width: 50%;">
  <div class="card">

    <div class="card-header">
      {{ employee.name }}
    </div>

    <div class="card-body">
      <table class="table table-border-less" style="padding: 20px;">

          <tr>
            <th>Department: </th>
            <td>{{ employee.department }}</td>
          </tr>

          <tr>
            <th>Address: </th>
            <td>{{ employee.address }}</td>
          </tr>

        
          <tr>
            <th>Salary: </th>
            <td>{{ employee.salary }}</td>
          </tr>

          <tr>
            <th>Role: </th>
            <td>{{ employee.role }}</td>
          </tr>

          <tr>
            <td>
              <a style='color:#fff;' class="btn btn-primary" href="{% url 'employeeupdate' employee.id %}">
                Edit
              </a>
            </td>
          <td>
            <a style='color:#fff;' class="btn btn-primary" href="{% url 'employeedelete' employee.id %}">
              Delete
            </a>
          </td>
        </tr>

      <table>

      <hr>

      <center>
        <a href="{% url 'employeelist' %}" class="btn btn-primary">
          Go Back
        </a>
      </center>

    </div>
  </div>
</div>

  {% endblock %}