{% extends 'main.html' %}
{% block content %}

<div class='container' style="margin-top: 30px; border: 2px solid; padding: 20px; width: 50%;">

  <p class='text-warning'>{{ form.non_field_errors }}</p>

<form method='post' style='margin-top: 30px;'>
    {% csrf_token %}
    <div class="mb-3">
      <p class='text-warning'>{{ form.username.errors }}</p>
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      {% comment %} <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> {% endcomment %}
      {{ form.username }}
    </div>
    <div class="mb-3">
      <p class='text-warning'>{{ form.password.errors }}</p>
      <label for="exampleInputPassword1" class="form-label">Password</label>
      {% comment %} <input type="password" class="form-control" id="exampleInputPassword1"> {% endcomment %}
        {{ form.password }}
    </div>
    <center>
    <button type="submit" class="btn btn-primary" style='margin-left: 20px;' >Login</button>
    <a href="{% url 'register' %}" style='margin-left: 50px;' class='btn btn-primary'>
        Register
    </a>
  </center>
  </form>
</div>
{% endblock content %}