{% extends 'main.html' %}
{% block content %}
<div class='container' style="margin-top: 30px; border: 2px solid; padding: 20px; width: 50%;">
{{ form.non_field_errors }}
<p class='text-warning'><form method='post' style='margin-top: 30px;'></p>
    {% csrf_token %}
    <div class="mb-3">
        <p class='text-warning'> {{ form.username.errors }}</p>
      <label for="exampleInputEmail1" class="form-label">User Name</label>
        {{ form.username }}
    </div>
    <div class="mb-3">
      <p class='text-warning'>{{ form.password.errors }}</p>
      <label for="exampleInputPassword1" class="form-label">Password</label>
        {{ form.password1 }}
    </div>
    <div class="mb-3">
      <p class='text-warning'>{{ form.confirm_password.errors }}</p>
      <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
        {{ form.password2 }}
    </div>
    <center>
    <button type="submit" class="btn btn-primary" style='margin-left: 20px; margin-top: 10px;' >Register</button>
    <a href="{% url 'login' %}" style='margin-left: 50px; margin-top: 10px;' class='btn btn-primary'>
        Login
    </a>
</center>
  </form>
</div>

{% endblock %}